# Local SWE homework repository metadata and generated output
/software-engineering-2/track-1/02-seminars/homework-1-a15/hello-world/.git/
/software-engineering-2/track-1/02-seminars/homework-1-a15/hello-world/*.class
/software-engineering-2/track-1/02-seminars/homework-1-a15/hello-world/doc/
/software-engineering-2/track-1/02-seminars/homework-1-a15/hello-world/bin/
